@font-face {
    font-family: "Aegean";
    src: url(/public/Aegean-8jJ2.ttf);
}
a, h1, h2, h3, h4, h5, h6, p, li {
    font-family: "Aegean";
    
}
.text {
    color: blue;
}
.navigation {
    text-decoration: none;
    color: rgb(16, 16, 184);
    font-size: 17px;

}
.navigation:hover {
    color: rgb(6, 17, 82);
}
.map {
    width: 1000px;
    height: 600px;
}
.logo{
    width: 130px;
    height: 80px;
}
.qq{
    font-size: 20px;
}
